* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-top {
  background-color: #eee;
  padding: 5px 0;
  position: relative;
}

.header-top-all {
  position: relative;
  font-family: "Jost", sans-serif;
  font-size: 13px;
}

.header-top-left {
  display: flex;
  gap: 30px;
  font-size: 12px;
}
.header-top-left span {
  color: #656565;
  font-size: 11px;
  cursor: pointer;
}
.header-top-left span i {
  color: rgba(0, 0, 0, 0.4);
}
.header-top-left .exchange {
  display: flex;
  gap: 5px;
}
.header-top-left .exchange i {
  color: rgba(0, 0, 0, 0.4);
}

.header-top-right i {
  color: #7d7d7d;
  background-color: #f2f2f2;
  font-size: 12px;
  padding-left: 3px;
  cursor: pointer;
}
.header-top-right i:hover {
  transform: scale(0.9);
}

.header-top-dropdown-first {
  position: absolute;
  top: 22px;
  left: 8px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  height: 93px;
  width: 96px;
  display: none;
  z-index: 1;
}

.header-top-dropdown-second {
  position: absolute;
  top: 22px;
  left: 90px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  height: 93px;
  width: 96px;
  display: none;
  z-index: 1;
}

.header-top-dropdown-first,
.header-top-dropdown-second {
  font-family: "Jost", sans-serif;
  font-size: 13px;
}
.header-top-dropdown-first ul,
.header-top-dropdown-second ul {
  padding: 0px;
}
.header-top-dropdown-first li,
.header-top-dropdown-second li {
  list-style: none;
  padding-left: 8px;
}
.header-top-dropdown-first li:hover,
.header-top-dropdown-second li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header-top-dropdown-first a,
.header-top-dropdown-second a {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 11px;
}

.dropdown-headertop-usd,
.dropdown-headertop-sell {
  display: block;
}

.header-middle {
  padding: 25px 15px;
  z-index: -1;
}

.header-middle-left img {
  width: 90%;
  height: auto;
  border: none;
}

.header-middle-right {
  height: 47px;
}
.header-middle-right input {
  position: relative;
  border: 1px solid #e2e2e2;
  border-right: none;
  width: 160px;
  height: 34px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-size: 10px;
  background: #fff;
  outline: none;
}
.header-middle-right span {
  cursor: pointer;
  padding: 10px 22px 10px 6px;
  font-size: 11px;
  font-weight: 400;
  height: 34px;
  color: #7d7d7d;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  right: 5px;
}
.header-middle-right span i {
  padding-left: 20px;
}
.header-middle-right button {
  border: none;
  font-size: 14px;
  color: #fff;
  height: 34px;
  width: 44px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #f7ba01;
}
.header-middle-right svg {
  max-width: 22px;
  max-height: 22px;
  border: none;
  padding-left: 5px;
  cursor: pointer;
}

#all-categories-span {
  margin-right: 8px;
  margin-left: 8px;
}

.header-footer {
  background-color: #0465d2;
  height: 78px;
  cursor: pointer;
}

.header-footer-all {
  height: 78px;
}

.header-footer-left {
  color: #fff;
  background: #025bbf;
  padding: 0 72px 0 25px;
  height: 78px;
  line-height: 78px;
}
.header-footer-left span {
  font-size: 12px;
}

.header-footer-right {
  font-size: 12px;
  cursor: pointer;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-footer-right li {
  list-style: none;
  padding-left: 15px;
  position: relative;
}
.header-footer-right li a {
  text-decoration: none;
  color: #fff;
}
.header-footer-right li a::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100%;
  height: 2px;
  color: #020b13;
}
.header-footer-right li a:hover {
  border-bottom: 2px solid red;
}
.header-footer-right li i {
  color: #fff;
  padding-left: 5px;
}

.limited-area {
  background-image: url(https://ninetheme.com/themes/venam/v1/wp-content/uploads/2021/05/limited_offer_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  overflow: hidden;
  z-index: 1;
}

.limited-area-title span {
  display: block;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff6000;
  margin-bottom: 15px;
  text-align: right;
}
.limited-area-title h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  font-size: 35px;
  text-align: end;
}

.limited-area-disc img {
  height: auto;
  max-width: 100%;
  padding-left: 30px;
}

.limited-area-right {
  margin-left: 70px;
}
.limited-area-right a {
  font-size: 12px;
  font-weight: 500;
  color: #ff6000;
  text-transform: uppercase;
  background: #fff;
  border-radius: 0;
  letter-spacing: 2px;
  padding: 14px 26px;
  margin-bottom: 12px;
  text-decoration: none;
  border: medium;
  line-height: 1;
}

.amount-info {
  margin-top: 22px;
}
.amount-info .UPTO {
  transform: rotate(-90deg);
  font-size: 12px;
  font-weight: 500;
  color: #ff6000;
  letter-spacing: 2px;
  margin-left: -13px;
}
.amount-info .amount {
  background: #ff6000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  padding: 12px 17px 8px;
}
.amount-info .off {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
}

.subscribe {
  padding: 65px 0;
  position: relative;
}
.subscribe .subscribe-all {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 150px;
}
.subscribe .subscribe-left h4 {
  font-style: normal;
  font-weight: 600;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
}
.subscribe .subscribe-left span {
  color: #909090;
  font-size: 13px;
}
.subscribe .subscribe-right {
  padding: 15px;
}
.subscribe .subscribe-right span {
  padding: 15px;
}
.subscribe .subscribe-right span input {
  background: #fff !important;
  border-radius: 4px;
  border: none;
  padding: 17px 30px;
  width: 100%;
  font-size: 12px;
  padding-right: 200px;
  font-weight: 500;
  color: #8c8c8c;
  outline: none;
}
.subscribe .subscribe-right button {
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 47px;
  width: 109px;
  padding-right: 49px;
  padding-left: 25px;
  cursor: pointer;
  background-color: #f7ba01;
  border: none;
}

hr {
  height: 1px;
  width: 100%;
  color: #909090;
}

.find {
  margin-bottom: 4rem;
}
.find .find-all .find-all-top h4 {
  font-style: normal;
  font-weight: 600;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
}
.find .find-all .find-all-bottom {
  font-size: 13px;
  color: #909090;
}
.find .find-all .find-all-bottom li {
  list-style: none;
  padding-left: 13px;
}
.find .find-all .find-all-bottom li a {
  text-decoration: none;
  color: #909090;
}
.find .find-all .find-all-bottom li a:hover {
  color: #025bbf;
}
.find .find-all .find-all-bottom span {
  padding-left: 3px;
  height: 12px;
  color: #909090;
}

.venam-info .info-all-first img {
  width: 55%;
  height: auto;
  text-align: left;
}
.venam-info .info-all-first p {
  line-height: 1.8;
  -webkit-margin-before: 1.5em;
          margin-block-start: 1.5em;
  font-size: 13px;
  color: #909090;
  margin-bottom: 29px;
}
.venam-info .info-all-first i {
  padding-left: 15px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 13px;
}
.venam-info .info-all-second {
  padding-left: 3rem;
}
.venam-info .info-all-second h5 {
  font-size: 16px;
  color: #252525;
  padding-bottom: 15px;
}
.venam-info .info-all-second li {
  list-style: none;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.5;
}
.venam-info .info-all-second li a {
  text-decoration: none;
  color: #7d7d7d;
}
.venam-info .info-all-second li a:hover {
  color: #025bbf;
}
.venam-info .info-all-third {
  padding-left: 2rem;
}
.venam-info .info-all-third h5 {
  font-size: 16px;
  color: #252525;
  padding-bottom: 15px;
}
.venam-info .info-all-third li {
  list-style: none;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.5;
}
.venam-info .info-all-third li a {
  text-decoration: none;
  color: #7d7d7d;
}
.venam-info .info-all-third li a:hover {
  color: #025bbf;
}
.venam-info .info-all-fourth {
  padding-left: 2rem;
}
.venam-info .info-all-fourth h5 {
  font-size: 16px;
  color: #252525;
  padding-bottom: 15px;
}
.venam-info .info-all-fourth li {
  list-style: none;
  padding-top: 15px;
  font-size: 12px;
  line-height: 1.5;
}
.venam-info .info-all-fourth li span {
  color: #7d7d7d;
}
.venam-info .info-all-fourth li span i {
  padding-right: 8px;
}

.right-reserv {
  height: 74px;
  padding-top: 17px;
  margin-top: 60px;
  background-color: #303030;
}
.right-reserv .reserv-all-left p {
  color: #7d7d7d;
}
.right-reserv .reserv-all-right img {
  width: 100px;
  height: auto;
}

#Deals .deals-item {
  padding: 0 18px;
  margin: 55px 0;
}
#Deals .deals-item .deals-img {
  position: relative;
}
#Deals .deals-item .deals-img .overlay {
  position: absolute;
  bottom: 30px;
}
#Deals .deals-item .deals-img a img {
  width: 100%;
  border: none;
  height: auto;
}
#Deals .deals-item .deals-img span {
  position: absolute;
  left: 12px;
  top: 0;
  height: 21px;
  background: #ff6000;
  color: #fff;
  font-size: 12px;
  line-height: 21px;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 300;
}
#Deals .deals-item .deals-img .overlay-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  background-color: #3a3a3a;
}
#Deals .deals-item .deals-img .overlay-extra a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
#Deals .deals-item .deals-img .overlay-extra svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-size: 18px;
  color: #2b2b2b;
}
#Deals .deals-item .deals-text {
  margin-top: 25px;
}
#Deals .deals-item .deals-text h6 {
  font-weight: 600;
  line-height: 1.2;
  font-size: 13px;
  text-align: center;
}
#Deals .deals-item .deals-text a {
  box-shadow: none;
  text-decoration: none;
  color: #54595f;
}
#Deals .deals-item .deals-text a:hover {
  color: #025bbf;
}
#Deals .deals-item .deals-text p {
  color: #ff6000;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
#Deals .deals-item .deals-text .deals-text-span1 {
  color: #ff6000;
}
#Deals .deals-item .deals-text .deals-text-span2 {
  color: #606060 !important;
}

#slider {
  background-image: url(https://ninetheme.com/themes/venam/v1/wp-content/uploads/2021/05/slider_bg.jpg);
}
#slider .sliders .slider-image {
  padding: 50px 0;
}
#slider .sliders .slider-image img {
  width: 80%;
}/*# sourceMappingURL=style.css.map */